<div class="row me-border">
  <div class="col-7">
    <h2 style="margin:10%;margin-bottom:0%">Xiang Zhi Tan (Zhi)</h2>
    <p class="me-bio" style="padding-top:1%">I'm a computer scientist, HRI Researcher, and PhD student at Carnegie
      Mellon University. I'm
      part of the Robotics Institute and advised by <a href="http://www.cs.cmu.edu/~astein/">Aaron Steinfeld</a>.
      My work focuses on exploring how humans interact with multiple robots by building systems and tools that
      enable these interactions.</p>
  </div>
  <div class="col-5 ">
    <div style="position:relative">
      <img src="resource/me-robot4.jpg" class="img-fluid me-img" />
    </div>
  </div>
</div>

<div class="row" style="padding-top: 5%;">
  <div class="col-7">
    <div>
      <h3>Current Research Projects</h3>
    </div>

    {{#each projects}}
    <div class="row home-research-items">
      <div class="col-3">
        <img class="home-research-image" src="{{this.img_path}}" />
      </div>
      <div class="col-9">
        <a href="{{this.link}}">{{this.title}}</a>
      </div>
    </div>
    {{/each}}
    <p class="pt-2 pb-2" style="text-align:center;">
      <a href="/research">More & Past Research Projects</a>
    </p>
  </div>
  <div class="col-5">
    <h3>Latest News </h3>
    <ul>
      {{#each news}}
      <li class="news-items"><strong>[{{this.date}}]</strong> {{this.message}}</li>
      {{/each}}
    </ul>
    <p class="pt-2 pb-2" style="text-align:center;">
      <a href="/news">More News</a>
    </p>
  </div>
</div>